[package]
name = "radixox-server"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
description = "RadixOx server - Redis-like data store"

[dependencies]
monoio.workspace = true
prost.workspace = true
bytes.workspace = true
oxidart.workspace = true
radixox-common = { path = "../radixox-common" }
